@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	overflow-y: scroll;
}
body {
	font-family: "Lato", "Helvetica", "Calibri", sans-serif;
	overflow-x: hidden;
}

/* NAVIGATION
================================================*/
nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9999;
	background: #fff;
	box-shadow: 10px 20px 20px #fff;
	font-family: "Montserrat";
}
nav ul {
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
}
nav li {
	display: inline-block;
	vertical-align: middle;
	font-weight: 700;
	text-transform: uppercase;
}
nav a {
	color: black;
	text-decoration: none;
}
nav a:hover {
	color: #961a1e;
}
.mobile-menu {
	display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.mobile-menu li {
	width: 100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.mobile-menu a {
	width: 100%;
	text-decoration: none;
	color: black;
}
.mobile-menu li:last-child {
	border: none;
	-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.5);
}

/* MAIN
================================================*/
main {
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}
.wrapper {
	margin: auto;
}

/* TIMELINE
================================================*/
#timeline {
	margin: 20px 0 50px 0;
	margin-left: auto;
	margin-right: auto;
	height: 4px;
	font-weight: 700;
	line-height: 5em;
	background-color: #ccc;
	text-align: center;
	position: relative;
}
#timeline a {
	font-family: "Montserrat";
	color: #666;
}
.date {
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	display: inline-block;
	position: absolute;
}
.year1890 {
	border: 4px solid #f28d3f;
	left: 0;
}
.year1890:hover {
	background-color: #f28d3f !important;
}
.year1920 {
	border: 4px solid #e5b600;
	left: 24%;
}
.year1920:hover {
	background-color: #e5b600 !important;
}
.year1960 {
	border: 4px solid #7096d3;
	left: 56%;
}
.year1960:hover {
	background-color: #7096d3 !important;
}
.year2015 {
	border: 4px solid #93af68;
	background-color: #fff;
	left: 100%;
}
.year2015:hover {
	background-color: #93af68 !important;
}
button {
	border: none;
	font-family: "Montserrat";
	padding: 7px 15px;
}

/* TIMELINE CONTENT
================================================*/
#summary-1960, #summary-1920, #summary-1890 {
	display: none;
}
.timeline-data {
	display: inline-block;
	vertical-align: top;
}
.timeline-data h1, .heading {
	font-family: "Dosis", sans-serif;
	text-transform: uppercase;
}
.timeline-data h4 {
	font-family: "Montserrat";
	text-transform: uppercase;
	letter-spacing: 1px;
}
.timeline-data p {
	margin: 15px 0;
	margin: auto;
	color: #666;
}
.timeline-data ul {
	margin-bottom: 20px;s
}
.overview li {
	list-style: none;
	display: block;
	clear: both;
	padding: 7px 3px;
	margin-bottom: 10px;
	margin: auto;
}
.overview li:nth-child(odd) {
	background: #f5f5f5;
}
.bold-year {
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
}
.right {
	margin-left: 3%;
	display: inline-block;
	vertical-align: top;
}

/* MAP
================================================*/
#map {
	background-color: #4b8a79;
	text-align: center;
	font-family: "Dosis";
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
}

/* CONTENT STYLES
================================================*/
#article-wrapper {
	display: inline-block;
	vertical-align: top;
}
article {
	width: 100%;
	padding: 0 0 20px 0;
	float: left;
}
article h3, .title {
	font-family: "Dosis";
	text-transform: uppercase;
	margin-bottom: 7px;
}
.column-sm {
	padding-right: 2%;
	margin-bottom: 15px;
	display: block;
	float: left;
}
aside {
	width: 100%;
	position: relative;
}
#pingree img {
	width: 20%;
	display: inline-block;
	vertical-align: top
}
#pingree p {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
aside h4, .column-sm h4 {
	padding: 7px 15px;
	margin-bottom: 10px;
	color: white;
	font-family: "Dosis", sans-serif;
	text-transform: uppercase;
	display: inline-block;
}
#sub-wrapper h2, #sub-wrapper h3 {
	font-family: "Dosis";
	text-transform: uppercase;
}

/* CAPTION HOVER STYLES
================================================*/
aside img {  
	width: 100%;
	-webkit-transition: all 300ms ease-out;  
	-moz-transition: all 300ms ease-out;  
	-o-transition: all 300ms ease-out;  
	-ms-transition: all 300ms ease-out;  
	transition: all 300ms ease-out;  
}  
.caption {
	height: 99%;
	width: 100%;
	padding: 20px 10px;
	background-color: rgba(0,0,0,0.8);  
	position: absolute;
	z-index: 999;
	top: 0;
	color: #fff;   
	-webkit-transition: all 300ms ease-out;  
	-moz-transition: all 300ms ease-out;  
	-o-transition: all 300ms ease-out;  
	-ms-transition: all 300ms ease-out;  
	transition: all 300ms ease-out;   
	opacity: 0;
	overflow: none;
	text-align: center;
}  
aside:hover .fade-caption {  
	opacity: 1;  
}

/* MUSEUM STYLES
================================================*/
#sub-wrapper {
	margin: 0 auto;
	text-align: center;
}
#sub-wrapper p {
	margin-top: 7px;
}
#sub-wrapper a {
	text-decoration: none;
	color: red;
}
#sub-wrapper div {
	margin: 20px 0;
	padding: 10px;
	width: 33%;
	float: left;
	display: block;
}
#sub-wrapper div img {
	width: 100%;
}
#sub-wrapper ul {
	clear: both;
}
#delve-info {
	width: 75%;
	margin: 0 auto;
}
#info {
	padding-top: 20px;
}
#members {
	padding-top: 20px; 
}
#sub-wrapper li {
	display: block;
	margin-bottom: 7px;
}

/* ATTRIBUTES
================================================*/
.bold, #year {
	font-weight: 700;
}
.orange {
	color: #f28d3f;
}
.teal {
	color: #7096d3;
}
.gold {
	color: #e5b600;
}
.burgundy {
	color: #8c1e1d;
}
.green {
	color: #93af68;
}
.bg-gold {
	background-color: #e5b600;
}
.bg-orange {
	background-color: #f28d3f;
}
.bg-teal {
	background-color: #7096d3;
}
.bg-burgundy {
	background-color: #8c1e1d;
}
.bg-green {
	background-color: #93af68;
}
.show {
	display: inline-block;
}
.hide {
	display: none;
}

/* FOOTER
================================================*/
footer {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 120px;
	background-color: #eee;
	clear: both;
}


#hamburger {
    position: absolute;
    top: 50%;
    -ms-transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    transform: translatey(-50%);
    margin-left: 5%;
    cursor: pointer;
}

#hamburger div {
	background-color: black;
	width: 25px;
	height: 3px;
	margin-bottom: 3px;
	border: none;
}










/* MEDIA QUERIES
================================================*/

@media screen and (min-width: 1920px) {
	body {
		margin-top: 150px;
	}
	nav {
		padding-top: 40px;
		height: 100px;
	}
	nav li {
		font-size: 1.2em;
		padding: 4px 20px;
	}
	.main-menu {
		display: block;
	}
	.mobile-header, .mobile-menu {
		display: none !important;
	}
	#article-wrapper {
		width: 69.5%;
	}
	.timeline-data h1, .heading {
		font-size: 1.8em;
	}
	#timeline {
		font-size: 1em;
		width: 45%;
	}
	.date {
		width: 30px;
		height: 30px;
		top: -15px;
	}
	#map {
		height: 450px;
		width: 69.5%;
	}
	.timeline-data h1, .timeline-data h4 {
		text-align: left;
	}
	.timeline-data {
		width: 30%;
		padding-right: 3%;
	}
	.timeline-data p {
		font-size: 1.2em;
		width: 100%;
		padding: 10px 0 15px 0;
	}
	.timeline-data ul {
		font-size: 1.2em;
	}
	.timeline-data li {
		margin-bottom: 10px;
	}
	.facts {
		display: block;
	}
	#random-fact {
		display: block;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1.2em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 1.2em;
	}
	article h3, .title {
		font-size: 1.8em;
	}
	.caption {
		font-size: 1em;
	}
	.column-sm h4 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}
	main, .wrapper {
		width: 77%;
	}
	.bold-year {
		width: 10%;
	}
	.right {
		width: 84%;
		margin-left: 3%;
	}
	.column-sm {
		width: 33%;
	}
	#pingree img {
		display: inline-block;
	}
	.overview li {
		width: 100%;
	}
	.title {
		text-align: left;
	}
	#sub-wrapper {
		width: 60%;
	}
}

@media screen and (max-width: 1919px) and (min-width: 1286px) {
	body {
		margin-top: 140px;
	}
	nav {
		padding-top: 40px;
		height: 100px;
	}
	nav li {
		font-size: 1em;
		padding: 4px 20px;
	}
	.main-menu {
		display: block;
	}
	.mobile-header, .mobile-menu {
		display: none !important;
	}
	#article-wrapper {
		width: 69.5%;
	}
	.timeline-data h1, .heading {
		font-size: 1.8em;
	}
	#timeline {
		font-size: 0.8em;
		width: 45%;
	}
	.date {
		width: 25px;
		height: 25px;
		top: -10px;
	}
	#map {
		height: 325px;
		width: 69.5%;
	}
	.timeline-data h1, .timeline-data h4 {
		text-align: left;
	}
	.timeline-data {
		width: 30%;
		padding-right: 3%;
	}
	.timeline-data p {
		font-size: 0.9em;
		width: 100%;
		padding: 10px 0 15px 0;
	}
	.timeline-data ul {
		font-size: 0.9em;
	}
	.timeline-data li {
		margin-bottom: 7px;
	}
	.facts {
		display: block;
	}
	#random-fact {
		display: block;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 1em;
	}
	article h3, .title {
		font-size: 1.5em;
	}
	.caption {
		font-size: 0.8em;
	}
	.column-sm h4 {
		font-size: 1em;
		letter-spacing: 0.5px;
	}
	main, .wrapper {
		width: 77%;
	}
	.bold-year {
		width: 10%;
	}
	.right {
		width: 84%;
		margin-left: 3%;
	}
	.column-sm {
		width: 33%;
	}
	#pingree img {
		display: inline-block;
	}
	.overview li {
		width: 100%;
	}
	.title {
		text-align: left;
	}
	#sub-wrapper {
		width: 60%;
	}
}
@media screen and (max-width: 1285px) and (min-width: 1045px) {
	body {
		margin-top: 140px;
	}
	nav {
		padding-top: 40px;
		height: 100px;
	}
	nav li {
		font-size: 1em;
		padding: 4px 20px;
	}
	.main-menu {
		display: block;
	}
	.mobile-header, .mobile-menu {
		display: none !important;
	}
	#article-wrapper {
		width: 69.5%;
	}
	.timeline-data h1, .heading {
		font-size: 1.8em;
	}
	#timeline {
		font-size: 0.8em;
		width: 55%;
	}
	.date {
		width: 25px;
		height: 25px;
		top: -10px;
	}
	#map {
		height: 325px;
		width: 69.5%;
	}
	.timeline-data h1, .timeline-data h4 {
		text-align: left;
	}
	.timeline-data {
		width: 30%;
		padding-right: 3%;
	}
	.timeline-data p {
		font-size: 0.9em;
		width: 100%;
		padding: 10px 0 15px 0;
	}
	.timeline-data ul {
		font-size: 0.9em;
	}
	.timeline-data li {
		margin-bottom: 7px;
	}
	.facts {
		display: block;
	}
	#random-fact {
		display: block;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 1em;
	}
	article h3, .title {
		font-size: 1.5em;
	}
	.caption {
		font-size: 0.8em;
	}
	.column-sm h4 {
		font-size: 1em;
	}
	main, .wrapper {
		width: 90%;
	}
	.bold-year {
		width: 10%;
	}
	.right {
		width: 80%;
		margin-left: 5%;
	}
	.column-sm {
		width: 33%;
	}
	#pingree img {
		display: inline-block;
	}
	.overview li {
		width: 100%;
	}
	.title {
		text-align: left;
	}
	#sub-wrapper {
		width: 60%;
	}
}
@media screen and (max-width: 1046px) and (min-width: 890px) {
	body {
		margin-top: 110px;
	}
	nav {
		padding-top: 20px;
		height: 90px;
	}
	nav li {
		font-size: 1em;
		padding: 4px 15px;
	}
	.main-menu {
		display: block;
	}
	.mobile-header, .mobile-menu {
		display: none !important;
	}
	#article-wrapper {
		width: 69.5%;
	}
	.timeline-data h1, .heading {
		font-size: 1.6em;
	}
	#timeline {
		font-size: 0.75em;
		width: 60%;
	}
	.date {
		width: 22px;
		height: 22px;
		top: -10px;
	}
	#map {
		height: 300px;
		width: 69.5%;
	}
	.timeline-data h1, .timeline-data h4 {
		text-align: left;
	}
	.timeline-data {
		width: 30%;
		padding-right: 3%;
	}
	.timeline-data p {
		font-size: 0.9em;
		width: 100%;
		padding: 10px 0 15px 0;
	}
	.timeline-data ul {
		font-size: 0.9em;
	}
	.timeline-data li {
		margin-bottom: 7px;
	}
	.facts {
		display: block;
	}
	#random-fact {
		display: block;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 0.85em;
	}
	article h3, .title {
		font-size: 1.3em;
	}
	.caption {
		font-size: 0.8em;
	}
	.column-sm h4 {
		font-size: 1em;
	}
	main, .wrapper {
		width: 92%;
	}
	.bold-year {
		width: 10%;
	}
	.right {
		width: 80%;
		margin-left: 8%;
	}
	.column-sm {
		width: 48%;
	}
	#pingree img {
		display: inline-block;
	}
	.overview li {
		width: 100%;
	}
	.title {
		text-align: left;
	}
	#sub-wrapper {
		width: 80%;
	}
}

@media screen and (max-width: 889px) and (min-width: 671px) {
	body {
		margin-top: 110px;
	}
	nav {
		padding-top: 20px;
		height: 90px;
	}
	nav li {
		font-size: 0.9em;
		padding: 0px 7px;
	}
	.main-menu {
		display: block;
	}
	.mobile-header, .mobile-menu {
		display: none !important;
	}
	#article-wrapper {
		width: 100%;
	}
	.timeline-data {
		width: 100%;
	}
	.timeline-data h1, .heading {
		font-size: 1.6em;
	}
	#timeline {
		font-size: 0.75em;
		width: 65%;
	}
	.date {
		width: 22px;
		height: 22px;
		top: -10px;
	}
	#map {
		height: 300px;
		width: 100%;
	}
	.timeline-data h1, .timeline-data h4 {
		text-align: center;
	}
	.timeline-data p {
		font-size: 0.9em;
		width: 90%;
		padding: 10px 0 20px 0;
	}
	.timeline-data ul {
		font-size: 0.9em;
	}
	.facts {
		display: none;
	}
	.timeline-data li {
		margin-bottom: 7px;
	}
	#random-fact {
		display: none;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 0.9em;
	}
	article h3, .title {
		font-size: 1.3em;
	}
	.caption {
		font-size: 0.8em;
	}
	.column-sm h4 {
		font-size: 1em;
	}
	main, .wrapper {
		width: 90%;
	}
	.bold-year {
		width: 10%;
	}
	.right {
		width: 80%;
		margin-left: 8%;
	}
	.column-sm {
		width: 50%;
	}
	#pingree img {
		display: none;
	}
	.overview li {
		width: 75%;
	}
	.title {
		text-align: center;
	}
	#sub-wrapper {
		width: 90%;
	}
}

@media screen and (max-width: 670px) {
	body {
		margin-top: 100px;
	}
	nav {
		padding-top: 20px;
		height: 80px;
	}
	nav li {
		font-size: 0.9em;
		padding: 0px 7px;
	}
	.main-menu {
		display: none;
	}
	.mobile-header {
		display: block;
	}
	.mobile-menu {
		display: none;
	}
	#article-wrapper {
		width: 100%;
	}
	.timeline-data {
		width: 100%;
	}
	.timeline-data h1, .heading {
		font-size: 1.6em;
	}
	#timeline {
		font-size: 0.75em;
		width: 60%;
	}
	.date {
		width: 22px;
		height: 22px;
		top: -10px;
	}
	#map {
		height: 300px;
		width: 100%;
	}
	.timeline-data h1, .timeline-data h4 {
		text-align: center;
	}
	.timeline-data p {
		font-size: 0.9em;
		width: 90%;
		padding: 10px 0 20px 0;
	}
	.timeline-data ul {
		font-size: 0.9em;
	}
	.facts {
		display: none;
	}
	.timeline-data li {
		margin-bottom: 7px;
	}
	#random-fact {
		display: none;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 0.9em;
	}
	article h3, .title {
		font-size: 1.3em;
	}
	.caption {
		font-size: 1.3em;
	}
	.column-sm h4 {
		font-size: 1em;
	}
	main, .wrapper {
		width: 90%;
	}
	.bold-year {
		width: 10%;
	}
	.right {
		width: 80%;
		margin-left: 8%;
	}
	.column-sm {
		width: 50%;
	}
	#pingree img {
		display: none;
	}
	.overview li {
		width: 90%;
	}
	.title {
		text-align: center;
	}
	#sub-wrapper {
		width: 90%;
	}
}