@import url(https://fonts.googleapis.com/css?family=Lora:400,700);

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Lora", serif;
}
nav {
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #eee;
}
nav h1 {
	text-align: center;
}
.wrapper, section {
	margin: auto;
	width: 60%;
}
#timelineNonDate {
	margin: 0 auto;
	width: 700px;
}
#map {
	width: 100%;
	height: 300px;
	background: #ccc;
	margin-bottom: 20px;
}
footer {
	width: 100%;
	height: 100px;
	margin-top: 60px;
	background: #eee;
}