@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Lato", "Helvetica", "Calibri", sans-serif;
}

/* NAVIGATION
================================================*/
nav {
	width: 100%;
}
header {
	margin-top: 20px;
	margin-bottom: 10px;
}
nav h1 {
	font-family: "Dosis", sans-serif;
	font-size: 2em;
	text-align: center;
}
nav ul {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}
nav li {
	display: inline-block;
	background: #eee;
	padding: 4px 40px;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
}
nav li a {
	color: black;
	text-decoration: none;
}

/* MAIN
================================================*/
main {
	width: 77%;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}
.wrapper {
	margin: auto;
	width: 77%;
}

/* TIMELINE
================================================*/
#timeline {
	margin: 40px 0 50px 0;
	margin-left: auto;
	margin-right: auto;
	height: 4px;
	width: 45%;
	font-weight: 700;
	font-size: 0.8em;
	line-height: 5em;
	background-color: #ccc;
	text-align: center;
	position: relative;
}
.date {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: -10px;
}
.year1890 {
	border: 4px solid #d5401d;
	left: 0;
}
.year1890:hover {
	background-color: #d5401d;
}
.year1920 {
	border: 4px solid #4b8a79;
	left: 30%;
}
.year1920:hover {
	background-color: #4b8a79;
}
.year1960 {
	border: 4px solid #8c1e1d;
	left: 70%;
}
.year1960:hover {
	background-color: #8c1e1d;
}
.year2015 {
	border: 4px solid #d1d96a;
	left: 100%;
}
.year2015:hover {
	background-color: #d1d96a;
}

/* TIMELINE CONTENT
================================================*/
.timeline-data {
	width: 30%;;
	padding-right: 4%;
	display: inline-block;
	vertical-align: top;
}
.timeline-data h1 {
	font-family: "Dosis", sans-serif;
	font-size: 2em;
	text-transform: uppercase;
}
.timeline-data h4 {
	margin-top: 5px;
	text-transform: uppercase;
	color: #666;
}
.timeline-data p {
	margin-top: 15px;
	color: #666;
	line-height: 1.2em;
}
.timeline-data ul {
	margin-top: 20px;
}
.timeline-data li {
	margin-bottom: 10px;
}

/* MAP
================================================*/
#map {
	width: 69.5%;
	height: 400px;
	background-color: #4b8a79;
	text-align: center;
	font-family: "Dosis";
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
}

/* CONTENT STYLES
================================================*/
article {
	width: 100%;
	padding: 0 0 20px 0;
	float: left;
}
article h3 {
	color: #4b8a79;
	font-family: "Dosis";
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 7px;
}
article p, aside p {
	margin-bottom: 7px;
	font-size: 1.2em;
}
aside {
	padding-right: 2%;
	margin-bottom: 15px;
	width: 50%;
	float: left;
}
aside h4 {
	padding: 7px 15px;
	margin-bottom: 10px;
	color: white;
	font-family: "Dosis", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: #8bb7ab;
	display: inline-block;
}

/* FOOTER
================================================*/
footer {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 60px;
	background: #eee;
	clear: both;
}

