@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Lato", "Helvetica", "Calibri", sans-serif;
	overflow-x: hidden;
}

/* NAVIGATION
================================================*/
nav {
	width: 100%;
}
header {
	margin-top: 40px;
	margin-bottom: 10px;
}
header h1 a {
	margin: 0 auto;
	width: 250px;
	height: 40px;
	background: url('/img/logo.png') no-repeat;
	display: block;
	text-indent: -9999px;
}
nav h1 {
	font-family: "Dosis", sans-serif;
	font-size: 2em;
	text-align: center;
}
nav ul {
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
}
nav li {
	display: inline-block;
	background: #eee;
	color: black;
	padding: 4px 40px;
	font-weight: 700;
	font-size: 0.8em;
	text-transform: uppercase;
}
nav li a {
	text-decoration: none;
}
nav li:hover {
	background: #ddd;
}
nav li:active {
	background: #ccc;
}

/* MAIN
================================================*/
main {
	width: 77%;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}
.wrapper {
	margin: auto;
	width: 77%;
}

/* TIMELINE
================================================*/
#timeline {
	margin: 40px 0 50px 0;
	margin-left: auto;
	margin-right: auto;
	height: 4px;
	width: 45%;
	font-weight: 700;
	font-size: 0.8em;
	line-height: 5em;
	background-color: #ccc;
	text-align: center;
	position: relative;
}
#timeline a {
	color: #000;
}
.date {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: -10px;
}
.year1890 {
	border: 4px solid #f28d3f;
	left: 0;
}
.year1890:hover {
	background-color: #f28d3f !important;
}
.year1920 {
	border: 4px solid #4b8a79;
	left: 24%;
}
.year1920:hover {
	background-color: #4b8a79 !important;
}
.year1960 {
	border: 4px solid #8c1e1d;
	left: 56%;
}
.year1960:hover {
	background-color: #8c1e1d !important;
}
.year2015 {
	border: 4px solid #d1d96a;
	background-color: #d1d96a;
	left: 100%;
}
.year2015:hover {
	background-color: #d1d96a !important;
}

/* TIMELINE CONTENT
================================================*/
#summary-2015 {

}
#summary-1960 {
	display: none;
}
#summary-1920 {
	display: none;
}
#summary-1890 {
	display: none;
}
.timeline-data {
	width: 30%;
	padding-right: 3%;
	display: inline-block;
	vertical-align: top;
}
.timeline-data h1 {
	font-family: "Dosis", sans-serif;
	font-size: 2em;
	text-transform: uppercase;
}
.timeline-data h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
}
.timeline-data p {
	margin: 15px 0;
	color: #666;
}
.timeline-data ul {
	margin-bottom: 20px;
	font-weight: 
}
.overview li {
	list-style: none;
	display: block;
	clear: both;
	padding: 7px 3px;
	margin-bottom: 10px;
}
.overview li:nth-child(odd) {
	background: #f5f5f5;
}
.bold-year {
	width: 10%;
	font-weight: 700;
	display: inline-block;
	vertical-align: top;
}
.right {
	width: 86%;
	margin-left: 3%;
	display: inline-block;
	vertical-align: top;
}
/* MAP
================================================*/
#map {
	width: 69.5%;
	background-color: #4b8a79;
	text-align: center;
	font-family: "Dosis";
	font-size: 2em;
	display: inline-block;
	vertical-align: top;
}

/* CONTENT STYLES
================================================*/
#article-wrapper {
	width: 69.5%;
	display: inline-block;
	vertical-align: top;
}
article {
	width: 100%;
	padding: 0 0 20px 0;
	float: left;
}
article h3, .title {
	font-family: "Dosis";
	text-transform: uppercase;
	margin-bottom: 7px;
}
aside {
	padding-right: 2%;
	margin-bottom: 15px;
	width: 33%;
	float: left;
}
aside img {
	width: 100%;
}
#pingree img {
	width: 20%;
	display: inline-block;
	vertical-align: top
}
#pingree p {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
aside h4 {
	padding: 7px 15px;
	margin-bottom: 10px;
	color: white;
	font-family: "Dosis", sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: inline-block;
}
.bold, #year {
	font-weight: 700;
}
.orange {
	color: #f28d3f;
}
.teal {
	color: #4b8a79;
}
.burgundy {
	color: #8c1e1d;
}
.chartreuse {
	color: #d1d96a;
}
.deeppink{
	color: #EE1289;
}
.bg-orange {
	background-color: #f28d3f;
}
.bg-teal {
	background-color: #4b8a79;
}
.bg-burgundy {
	background-color: #8c1e1d;
}
.bg-chartreuse {
	background-color: #d1d96a;
}
.show {
	display: inline-block;
}
.hide {
	display: none;
}

/* FOOTER
================================================*/
footer {
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	margin-top: 60px;
	background: #eee;
	clear: both;
}

/* MEDIA QUERIES
================================================*/

@media screen and (min-width: 1920px) {
	#map {
		height: 450px;
	}
	.timeline-data p {
		font-size: 1.2em;
	}
	.timeline-data ul {
		font-size: 1.2em;
	}
	.timeline-data li {
		margin-bottom: 10px;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1.2em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 1.2em;
	}
	article h3, .title {
	font-size: 1.8em;
	}
}

@media screen and (max-width: 1919px) {
	#map {
		height: 325px;
	}
	.timeline-data p {
		font-size: 0.9em;
	}
	.timeline-data ul {
		font-size: 0.9em;
	}
	.timeline-data li {
		margin-bottom: 7px;
	}
	article p {
		margin-bottom: 7px;
		font-size: 1em;
	}
	aside figcaption {
		margin-top: 5px;
		margin-bottom: 7px;
		font-size: 0.85em;
		font-weight: 700;
	}
	.timeline-data h4 {
		font-size: 1em;
	}
	article h3, .title {
	font-size: 1.5em;
	}
}

/*Museum-view*/

a {
	color: #EE1289;
}

.museum{
  margin-top: 15px;
  text-align: center;
  text-shadow: 2px 2px white;
  padding: 10px;
  position: relative;
}

#link a {
text-align: center;
padding: 5px;
padding-top: 15px;
display: block;
clear: both;
}
.bborder{
padding:2px;
border: solid black;
margin: 10px;
}

/*about-view*/

.about{
	text-align: center;
	font-size: 1.2em;
	margin-left: 20%;
	margin-right: 20%;

}

.about p{
	padding-top: 10px;
}