@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.tps-section {
  width: 100%;
  height: 500px;
  -webkit-perspective: 10em;
  -moz-perspective: 10em;
  -ms-perspective: 10em;
  -o-perspective: 10em;
  perspective: 10em;
  -webkit-perspective-origin: center bottom;
  -moz-perspective-origin: center bottom;
  -ms-perspective-origin: center bottom;
  -o-perspective-origin: center bottom;
  perspective-origin: center bottom;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.tps-wrapper {
  float: left;
  width: 100%;
  height: 100%;

}

#cf {
  position:relative;
  height:500px;
  width:800px;
  margin:0 auto;
}
#cf2 {
  position:relative;
  height:600px;
  width:450px;
  margin:0 auto;
}

#cf img {
  position:absolute;
  center:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf2 img {
  padding-top: 10px;
  position:absolute;
  center:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

#cf2 img.top:hover {
  opacity:0;
}


#gallery h1 {
  text-align: center;
  font-family: "Montserrat";


}

#gallery h3{
  margin-top: 15px;
  font-size: 24px;
  background-color: white;
  color: #960400;
  font-family: "Dosis", sans-serif;
  text-align: center;
  padding: 10px;
  position: relative;
}
