<div class="wrapper">
	<section class="timeline-data">
		<h3>Overview timeline of US News</h3>
		<ul>
<!-- 			<li>Hazen Stuart Pingree,  a shoe manufacturer,  was elected mayor of Detroit in 1890. He served as the Governor of Michigan from 1897-1901.</li>
			<li>1890 - Yosemite National Park created</li>
			<li>1890 - Idaho and Wyoming become states</li>
			<li>1891 - James Naismith invents basketball</li>
			<li>1892 - General Electric Company founded</li>
			<li>November 8th, 1892: Grover Cleveland won the U.S  presidential election, becoming the only president to serve two non-consecutive terms.</li>
			<li>August 4, 1892: Andrew Borden and his wife were murdered in Fall River, Massachusetts and his daughter Lizzie Borden was accused of the gruesome crime.</li>
			<li>February 1893: Thomas A. Edison finished building his first motion picture studio.</li>
			<li>June 20, 1893: Lizzie Borden was acquitted of murder.</li>
			<li>February 20, 1895: Abolitionist author Frederick Douglass died in Washington, D.C. at the age of 77.</li>
			<li>1896 - Utah becomes a state</li>
			<li>April 1896: The first modern Olympic games, the idea of Pierre de Coubertin, are held in Athens, Greece.</li>
			<li>July 1897: The Klondike Gold Rush began in Alaska.</li> -->
		</ul>
	</section>
	<div id="article-wrapper">
		<article>
			<h3>A Metropolis Arises</h3>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat. </p>
		</article>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros.</p>
		</aside>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
		</aside>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros.</p>
		</aside>
		<article>
			<h3>Articles will be full width</h3>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat.</p>
		</article>
	</div>
</div>