<div class="wrapper">
	<section class="timeline-data">
		<h3 class="title orange">Timeline Overview</h3>
		<ul>
			<li>1890: Hazen S. Pingree, a shoe manufacturer, is elected mayor of Detroit</li>
			<li>1892: Four Detroit streets – Jefferson, Lafayette, Cass and Second - are paved with asphalt, the rest are cobblestone, cedar block or unpaved</li>
			<li>1893: Detroiter Mrs. Marie Owen becomes the first policewoman in the United States.</li>
			<li>1894: Mayor Pingree establishes vegetable gardens for the poor, which come to be known as Pingree's Potato Patches</li>
			<li>1895: Detroit’s municipal power station begins to supply power for streetlights and public buildings</li>
			<li>1896: Charles Brady King drives Detroit’s first gasoline powered car down Woodward Avenue</li>
			<li>1896: The last horse-drawn street cars are replaced by electric trolleys</li>
			<li>1896: The new Central High School building at Cass and Warren opens</li>
			<li>1897: Sebastian S. Kresge opens his 5 and 10 cent store with J.G. McCrory, it develops into present day Kmart</li>
			<li>1897: Mayor Pingree is elected governor of Michigan, forcing him to resign as Detroit's mayor</li>
			<li>1898: Henry Ford organizes the Detroit Automobile Co. with backing from local investors. It fails three years later after only producing 2 cars</li>
			<li>1899: Ransom E. Olds opens Detroit's first automobile manufacturing plant on East Jefferson</li>
			<li>1900: Detroit’s population is 285,704.  It is the 13th largest city in the United States</li>
			<li>1900: Nearly 12% of Detroit’s population doesn’t speak English, the highest percentage in the nation</li>
			<li>1900: The Detroit Tigers become members of the new American Baseball League</li>
			<li>1900: Detroit is the world’s largest manufacturer of heating and cooking stoves</li>
			<li>1901: Henry Ford establishes his second automobile company, called the Henry Ford Co.</li>
		</ul>
	</section>
	<div id="article-wrapper">
<!-- 		<article>
			<h3 class="orange">A Metropolis Arises</h3>
			<p>Quisque feugiat felis ipsum, sed scelerisque dolor euismod ut. Nulla maximus fermentum euismod. Praesent quis pulvinar ante. Mauris viverra at libero ac commodo. Sed semper fringilla arcu, et condimentum lectus vulputate in. Nullam facilisis nunc ut massa semper congue. Ut non malesuada augue, nec suscipit nisi. Nulla sed aliquam nibh. In lacinia posuere lacinia. Vivamus vitae orci vitae felis consequat pharetra. Praesent volutpat tempus odio ac gravida. Maecenas eu ex elit. Nam ante ex, dignissim ac libero egestas, maximus mollis mi. Vivamus id libero mollis, sollicitudin neque et, porta lorem.</p>
		</article> -->
		<article id="pingree">
			<h3 class="orange">Pingree Years</h3>
			<div id="article-wrapper">
				<p>Hazen S. Pingree served as Detroit mayor from 1890 to 1897, leaving office only after being elected governor of Michigan. Old Ping, as he was known, was named one of the 10 best mayors in U.S. history in a poll of scholars for Melvin Holli’s 1999 book, “The American Mayor.”</p>
				<p>In it, Holli writes that Pingree’s “role as an advanced social reformer was unmatched by any big-city mayor in the last half of the 19th century.” His tough-love form of social reform, historians note, was the forerunner for the reforms of the Progressive Era. Besides his social reforms, the Republican mayor is best known for turning vacant land into vegetable patches to feed the city’s needy during the economic downturn of the 1890s.</p>
			</div>
			<img src="img/1890s/pingree.png">
		</article>
		<aside>
			<h4 class="bg-orange">Transition to Gas</h4>
			<img src="img/1890s/henryford.png">
			<figcaption>Henry Ford(right) in “The Quadricycle”, the first horseless carriage. It was completed in 1896 and used four bicycle tires and a gas-powered engine.</figcaption>
		</aside>
		<aside>
			<h4 class="bg-orange">Campus Martius</h4>
			<img src="img/1890s/campusmartius.png">
			<figcaption>Campus Martius, circa 1890s</figcaption>
		</aside>
		<aside>
			<h4 class="bg-orange">Central High School</h4>
			<img src="img/1890s/oldmain.png">
			<figcaption>Central High School, built on the corner of Cass and Warren. Today, it is Wayne State University's Old Main building.</figcaption>
		</aside>

	</div>
</div>