<div class="wrapper">
	<section class="timeline-data">
		<h2>Random Fact: </h2>
		<button ng-click="getFact()">New Fact</button>
		<p>{{fact}}</p>
		<h3 class="title orange">Timeline Overview</h3>
		<ul class="overview">
			<li>
				<div class="bold-year">1890</div>
				<div class="right">Hazen S. Pingree, a shoe manufacturer, is elected mayor of Detroit</div>
			</li>
			<li>
				<div class="bold-year">1893</div>
				<div class="right">Detroiter Marie Owen becomes the first policewoman in the United States</div>
			</li>
			<li>
				<div class="bold-year">1893</div>
				<div class="right">The 15-ton, 25-foot tall Garland stove was built by the Michigan Stove Company in 1893. It was the largest stove in the world.</div>
			</li>
			<li>
				<div class="bold-year">1894</div>
				<div class="right">Mayor Pingree establishes vegetable gardens for the poor, which comes to be known as Pingree's Potato Patches</div>
			</li>
			<li>
				<div class="bold-year">1895</div>
				<div class="right">Detroit’s municipal power station begins to supply power for streetlights and public buildings</div>
			</li>
			<li>
				<div class="bold-year">1896</div>
				<div class="right">The last horse-drawn street cars are replaced by electric trolleys</div>
			</li>	
			<li>
				<div class="bold-year">1896</div>
				<div class="right">The Detroit Public Schools establish Kindergartens.</div>
			</li>	
			<li>
				<div class="bold-year">1896</div>
				<div class="right">On June 4th Henry Ford test drove his first car, using engine parts borrowed from Charles Brady King.</div>
			</li>
			<li>
				<div class="bold-year">1898</div>
				<div class="right">Henry Ford organizes the Detroit Automobile Co. with backing from local investors. It fails three years later after only producing 2 cars</div>
			</li>
			<li>
				<div class="bold-year">1900</div>
				<div class="right">Detroit’s population is 285,704.  It is the 13th largest city in the United States</div>
			</li>
			<li>
				<div class="bold-year">1900</div>
				<div class="right">Nearly 12% of Detroit’s population doesn’t speak English, the highest percentage in the nation</div>
			</li>
			<li>
				<div class="bold-year">1900</div>
				<div class="right">The Detroit Tigers become members of the new American Baseball League</div>
			</li>
			<li>
				<div class="bold-year">1901</div>
				<div class="right">Henry Ford establishes his second automobile company, the Henry Ford Co.</div>
			</li>	
			<li>
				<div class="bold-year">1901</div>
				<div class="right"> Ransom E. Olds produces the first practical American car.  It can reach speeds of 18 miles per hour and costs $650.</div>
			</li>
		</ul>
	</section>
	<div id="article-wrapper">
		<article id="pingree">
			<h3 class="orange">Pingree Years</h3>
			<div id="article-wrapper">
				<p>Hazen S. Pingree served as Detroit's mayor from 1890 to 1897, leaving office only after being elected governor of Michigan. He was named the fourth best mayor in all of American history in a poll of scholars for Melvin Holli’s 1999 book, “The American Mayor.”</p>
				<p>His tough-love form of social reform, historians note, was the forerunner for the reforms of the Progressive Era. The Republican mayor is best known for turning vacant land into vegetable patches to feed the city’s needy during the economic downturn of the 1890s.</p>
				<p>Pingree promoted the regulation of railroad rates, equal taxation, and municipal ownership of public utilities. He also supported the direct election of U.S. senators, an eight-hour workday, an income tax, primary elections and the abolition of child labor. There is a statue of him in the Grand Circus Park in Detroit, commemorating him as "The Idol of the People." He died in London, England in 1901.</p>
			</div>
			<img src="img/1890/pingree.png">
		</article>
		<div class="column-sm">
			<h4 class="bg-orange">Transition to Gas</h4>
			<aside>
				<img src="img/1890/henryford.png">
				<span class="caption fade-caption">
					<p>Henry Ford(right) in “The Quadricycle”, the first horseless carriage. It was completed in 1896 and used four bicycle tires and a gas-powered engine.</p>
				</span>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-orange">Campus Martius</h4>
			<aside>

				<img src="img/1890/campusmartius.png">
				<span class="caption fade-caption">
					<p>Campus Martius, circa 1890s</p>
				</span>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-orange">Central High School</h4>
			<aside>

				<img src="img/1890/oldmain.png">
				<span class="caption fade-caption">
					<p>Central High School, built on the corner of Cass and Warren. Today it is Wayne State University's Old Main building.</p>
				</span>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-orange">Streets of Detroit</h4>
			<aside>

				<img src="img/1890/streets.jpg">
				<span class="caption fade-caption">
					<p>In the mid-1890s, both horsecars and streetcars were on the road. This photo was taken between 1893 and 1895 at Fort Street and Woodward.</p>
				</span>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-orange">The Detroit Jewel</h4>
			<aside>

				<img src="img/1890/jewel.jpg">
				<span class="caption fade-caption">
					<p>An 1890s ad for the Detroit Jewel, one of Detroit Stove Works' most popular stoves.</p>
				</span>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-orange">Curved Dash</h4>
			<aside>

				<img src="img/1890/olds.jpg">
				<span class="caption fade-caption">
					<p>Designed by Ransom E. Olds, this was the first mass-produced automobile. Olds also invented the basic concept of the assembly line.</p>
					</span>
				</aside>
			</div>
		</div>
	</div>