<div class="wrapper">
	<section class="timeline-data">
		Overview timeline of US News
	</section>
	<div id="article-wrapper">
		<article>
			<h3>Detroit's Golden Age</h3>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat. </p>
		</article>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros.</p>
		</aside>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
		</aside>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros.</p>
		</aside>
		<article>
			<h3>Articles will be full width</h3>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat.</p>
		</article>
	</div>
</div>