<div class="wrapper">		
	<section class="timeline-data">
		<h3 class="title teal">Random Fact:</h3>
		<button ng-click="getFact()">New Fact</button>
		<p>{{fact}}</p>
		<h3 class="title teal">Timeline Overview</h3>
		<ul class="overview">
			<li>
				<div class="bold-year">1920</div>
				<div class="right">Detroit is the 4th largest city in the nation.</div>
			</li>
			<li>
				<div class="bold-year">1921</div>
				<div class="right">The Detroit Public Main Library Opens</div>
			</li>
			<li>
				<div class="bold-year">1923</div>
				<div class="right">The first Detroit-Cleveland passenger air service created.</div>
			</li>

			<li>
				<div class="bold-year">1923</div>
				<div class="right">The first Detroit Institute of Arts was built.</div>
			</li>
			<li>
				<div class="bold-year">1924</div>
				<div class="right">Hudson's holds the first Thanksgiving parade. Two years before the famed Macy's parade.</div>
			</li>
			<li>
				<div class="bold-year">1925</div> 
				<div class="right">Dr. Ossian Sweet, an African-American Detroit physician, acquitted self defense murder defending from when a white mob tried to force his family out of a white neighborhood.</div>
			</li>
			<li>
				<div class="bold-year">1926</div>
				<div class="right">Detroit boasts the World's best lighted streetways</div>
			</li>
			<li>
				<div class="bold-year">1926</div>
				<div class="right">On October 31st, Houdini dies at Grace Hospital surrounded by family</div>	
			</li>
			<li>
				<div class="bold-year">1928</div>
				<div class="right">Fox Movie Theater Built with 5041 seats and a unique mix of Egyptian, Far Eastern and Indian styles.</div>	
			</li>
		</ul>
	</section>
	<div id="article-wrapper">
		<article>
			<h3 class="teal">Detroit's Golden Age</h3>
			<p>This was a time of great economic growth in America; and it was especially good to Detroit. The city underwent its most rapid growth in the 1920s--not coincidentally, the same period when automobile production skyrocketed. Detroit continued to be a magnet for newcomers until the early 1950s, when the city's population peaked at nearly two million.</p>
		</span>
	</article>
	<div class="column-sm">
		<h4 class="bg-teal">The Purple Gang</h4>
		<aside>
			<img src="../img/1920/thumbs/Purple_Gang.jpg">
			<span class="caption fade-caption">
				<p>The Purple Gang, Detroit’s most notorious organized crime gang in the 1920s and 1930s.</p>
			</span>
		</aside>
	</div>
	<div class="column-sm">
		<h4 class="bg-teal">David Whitney Building</h4>
		<aside>
			
			<img src="../img/1920/thumbs/davidwhitney.jpg">
			<span class="caption fade-caption">
				<p>The building is named in honor of David Whitney Jr., who is responsible for much of Detroit's early commercial and industrial development. He was one of Detroit’s wealthiest men and largest landowners.</p>
			</span>
		</aside>
	</div>
	<div class="column-sm">
		<h4 class="bg-teal">Prohibition</h4>
		<aside>
			<img src="../img/1920/thumbs/prohibition-detroit.jpg">
			<span class="caption fade-caption">
				<p>The Purple Gang began by hijacking alcohol smuggled by others across the Canadian border during prohibition.</p>
			</span>
		</aside>
	</div>
	<div class="column-sm">
		<h4 class="bg-teal">Detroit Streetcars</h4>
		<aside>
			<img src="../img/1920/thumbs/detroitStreetcar.jpg">
			<span class="caption fade-caption">
				<p>Detroit had the largest streetcar system in the nation. The streetcar system was consolidated under the Detroit United Railway company.</p>
			</span>
		</aside>
	</div>
	<div class="column-sm">
		<h4 class="bg-teal">Eastern Market</h4>
		<aside>
			<img src="../img/1920/thumbs/EasternMarket.jpg">
			<span class="caption fade-caption">
				<p>The Eastern Market presently covers 43 acres and is the largest historic public market district in the United States.</p>
			</span>
		</aside>
	</div>
	<div class="column-sm">
		<h4 class="bg-teal">Streets of Detroit</h4>
		<aside>
			<img src="../img/1920/thumbs/streets.jpg">
			<span class="caption fade-caption">
				<p>Woodward Avenue in the 1920s</p>
			</span>
		</aside>
	</div>
</aside>

</div>
