<div class="wrapper">		
	<section class="timeline-data">
		Overview timeline of Detroit News
		<h3 class="title teal">Timeline Overview</h3>
		<ul class="overview">
			<div class="bold-year">1920</div>
			<div class="right">insert fact here</div>
			<li>
				<div class="bold-year">1920</div>
				<div class="right">Detroit is the 4th largest city in the nation.</div>
			</li>
			<li>
				<div class="bold-year">1921</div>
		 		<div class="right">The Detroit Public Main Library Opens</div>
			</li>
			<li>
				<div class="bold-year">1923</div>
				<div class="right">The first Detroit-Clevland passenger air service created.</div>
			</li>
			<li>
				<div class="bold-year">1926</div>
				<div class="right">Detroit boasts the World's best lighted streetways</div>
			</li>
			<li>
				<div class="bold-year">1926</div>
				<div class="right">Houdini dies at Grace Hospital surrounded by family</div>	
			</li>
		</section>

		<div id="article-wrapper">
			<article>
				<h3>Detroit's Golden Age</h3>
				<p>This was a time of great economic growth in America and this time period was especially good to Detroit's economy. Fueled by the giant success in the Auto Industry Detroit was known the world over as an economic power. This spured the building of new office buildings, cultural buildings, entertainment and culural centers, as well as major shopping centers.<br>
				</p>
			</article>
			<h4 class="bg-teal">David_Whitney Building</h4>
				<img src="../img/1920s/David_Whitney_Bldg.jpg" height="300" width="350">

				<p>The building is named in honor of David Whitney Jr.responsible for much of Detroits early commercial and industrial development.He was one of Detroit’s wealthiest men and largest landowners.  What made the building stand out was its dramatic, skylight-covered, four-story atrium lobby this building is one of the first of its era and symbolic of the beggining of Detroit's heyday.
				</p>
			</aside>
			<aside>
				<h4 class="bg-teal">The Purple Gang</h4>
				<img src="../img/1920s/Purple_Gang.jpg" height="300" width="350">

				<p>The Purple Gang was Detroit’s most notorious organized crime gang in the 1920s and 1930s. The Purple Gang was made up of immigrants from Detroit’s lower east side. The “Purple Gang” intimidated and blackmailed witnesses of crimes and victims families. Criminal justice entities were rendered useless as they tried to control this gang's influence on Detroit.
				</p>
			</aside>
			<aside>
				<h4 class="bg-teal">Prohibition</h4>
				<img src="../img/1920s/prohibition-detroit.jpg" height="300" width="350">

				<p><br> The Purple Gang began by hijacking alcohol smuggled by others across the Canadian border during prohibition. Al Capone, the notorious Chicago gangster, chose to use the Purple Gang to supply whisky rather than battle them for Detroit territory. </p>
			</aside>
			<aside>
				<h4 class="bg-teal">Eastern Market</h4>

				<img src="../img/1920s/EasternMarket.jpg" height="300" width="350">

				<p> Eastern Market grew greatly in the 1920s and additional sheds were added to facilitate that growth. The market presently covers 43 acres and is the largest historic public market district in the United States. Eastern Market is a selling point for a wide variety of produce, meat, spice and other products. It is particularly busy on Saturdays, when farmers tend to bring in their poultry and livestock, along with fresh produce, for sale. </p>
			</aside>

			<aside>
				<h4 class="bg-teal">Detroit Streetcars</h4>
				<img src="../img/1920s/detroitStreetcar.jpg" height="300" width="350">
				<p>In the 1920s Detroit has the largest streetcar system in the nation. The streetcar system was originally run by independent private companies and then were consolidated under the Detroit United Railway company. The City of Detroit started its own public railway company in the 1920s and was a pioneer in public transit.</p>
				<p></p>
				</aside>
				<aside>
				<h4 class="bg-teal">Michigan Central Station</h4>
				<img src="../img/1920s/michigan-central-station-detroit.jpg" height="300" width="350">
				<p>In the 1920s Michigan Central Station was bustling with over 400 trains pulling in and out daily. This brought people from surrounding areas to work and shop in downtown Detroit.</p>
				<p></p>
				</aside>
		</div>
	</div>