<div class="wrapper">
	<section class="timeline-data">
		<h3 class="title chartreuse">Timeline Overview</h3>
		<ul class="overview">
		<li>1961: Stevie Wonder signs with Motown</li>
		<li>1961: The Detroit Tigers won 101 games but finished in second place, eight games behind the New York Yankees. The team's 1961 record tied the 1934 Tigers team record of 101 wins, and only twice in team history have the Tigers won more games: 1968 (103 wins) and 1984 (104 wins).</li>
		<li>1961: The Miracles featuring Smokey Robinson, Bobby Rogers, Ron White, Pete Moore and Claudette Robinson record the first Motown record to sell one million copies, “Shop Around” </li>
		<li>1964: On September 6th, The Beatles performed in Detroit for the first time at the Olympia Stadium.</li>
		<li>1964: David Ruffin became a member of The Temptations after founding member Elbridge Bryant was fired.</li>
		<li>1965: Viola Liuzzo, a Detroit housewife and civil rights activist, was shot and killed by four Ku Klux Klan members in Alabama. She was driving civil rights workers home after Dr. Martin Luther King’s Selma Freedom March.</li>
		<li>1965: The first Ford Mustang rolls off the assembly line at Ford Motor Company.</li>
		<li>1966: On October 18th, Sebastian Kresge dies at the age of 99.</li>
		<li>1968: Motown had 5 of the Top 10 records on the Billbord Magazine chart; holding the top 3 spots for an entire month.</li>
		<li>1969: The Detroit Lions play their 40th football season in franchise history. It was their best season in seven years.</li>
		<li>1969: The Michigan Wolverines end Ohio State’s infamous 22-game winning streak, with a final score of 24-12. This sparked the famous Ten Year War between the two teams.</li>
		</ul>
	</section>
		<div id="article-wrapper">
<!-- 		<article>
			<h3 class="orange">A Metropolis Arises</h3>
			<p>Quisque feugiat felis ipsum, sed scelerisque dolor euismod ut. Nulla maximus fermentum euismod. Praesent quis pulvinar ante. Mauris viverra at libero ac commodo. Sed semper fringilla arcu, et condimentum lectus vulputate in. Nullam facilisis nunc ut massa semper congue. Ut non malesuada augue, nec suscipit nisi. Nulla sed aliquam nibh. In lacinia posuere lacinia. Vivamus vitae orci vitae felis consequat pharetra. Praesent volutpat tempus odio ac gravida. Maecenas eu ex elit. Nam ante ex, dignissim ac libero egestas, maximus mollis mi. Vivamus id libero mollis, sollicitudin neque et, porta lorem.</p>
		</article> -->
		<article id="pingree">
			<h3 class="orange">THE MOTOWN SOUND</h3>
			<div id="article-wrapper">
			<p>In 1959, boxer, assembly line worker and songwriter Berry Gordy Jr. used an $800 family loan to start a record company in Detroit. By 1966, Motown grossed $20 million dollars.</p>
			</div>
			<img src="img/1890s/pingree.png">
		</article>
		<aside>
			<h4 class="bg-orange">The '67 Riot</h4>
			<img src="img/1960s/67riot.jpg">
			<figcaption>The aftermath of the 1967 Riot</figcaption>
		</aside>
		<aside>
			<h4 class="bg-orange">1968 Auto Show</h4>
			<img src="img/1960s/ford1968.jpg">
			<figcaption>The Ford exhibit at the 1968 Auto Show</figcaption>
		</aside>
		<aside>
			<h4 class="bg-orange">Spirit of Detroit</h4>
			<img src="img/1960s/spirit60.jpg">
			<figcaption>The Spirit of Detroit, circa 1960</figcaption>
		</aside>

	</div>
</div>
				