<div class="wrapper">
	<div>
		<section class="about">
			<h3 class="deeppink">About Us</h3>
			<p>We are Delve Detroit, a company focused on exploring the rich history of Detroit's past and present. We're a magical team of four; <a href='http://www.linkedin.com/in/pamlua'>Pam</a>: sick designs, <a href='http://www.linkedin.com/in/amberford1'>Amber</a>: epic research and markers, <a href='http://www.linkedin.com/in/mieshaj'>Miesha</a>: more research than is physically possible, <a href='http://www.linkedin.com/in/matthewsc'>Matt</a>: fancy maps. Credit goes to Wikipedia, Detroit Public Library and the Detroit Historical Society.</p>
			<p>Questions/Comments? Email us: delvedetroit@gmail.com</p>
		</section>
	</div>
</div>