<div class="wrapper">
	<section class="timeline-data">
		Overview timeline of US News
	</section>
	<div id="article-wrapper">
		<article>
			<h3>About Us</h3>
			<p>We are Delve Detroit, a company focused on exploring the rich history of Detroit's past and present. Pam - sick designs, Amber - epic research and markers, Miesha - more research than is physically possible, Matt - fancy maps. Credit goes to the Wikipedia, Detroit Historical Society, etc. Copyright Delve Detroit 2015.</p>
		</article>
	</div>
</div>