<div id="sub-wrapper">
	<h2>Learn about the Delve Detroit!</h2>
	<p id="delve-info">Delve Detroit was started out of our deep love and interests for Detroit's rich history. Utilizing our web development skills, our focus is to bring our knowledge to the public! Questions/Comments? Email us: delvedetroit@gmail.com</p>

	<ul id="members">
		<li><h3>We're a magical team of four:</h3></li>
		<li><a href='http://www.linkedin.com/in/pamlua'>Pam</a>: sick designs</li>
		<li><a href='http://www.linkedin.com/in/amberford1'>Amber</a>: epic research and markers</li>
		<li><a href='http://www.linkedin.com/in/mieshaj'>Miesha</a>: more research than is physically possible</li>
		<li><a href='http://www.linkedin.com/in/matthewsc'>Matt</a>: fancy maps</li>
	</ul>
	<p id="info">Credit goes to Wikipedia, the Detroit Public Library and the Detroit Historical Society.</p>
</div>