<!doctype html>
<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="js/jquery.tiltedpage-scroll.js"></script>
  <link href='css/tiltedpage-scroll.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
      <div class="main">
      <h1>Detroit: Then vs. Now</h1>
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/packard2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/packard1.jpg"/>
          <h3>Packard Plant, 1954 vs. now</h3>
        </div>
      </section>
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/neighborhood2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/neighborhood.jpg"/>
          <h3>Alfred Street, late 1800s vs. now</h3>
        </div>
      </section>
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/livingstone.jpg"/>
          <h3>William Livingstone House, 1893 vs. 2007 (demolished)</h3>
        </div>
      </section> 
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/fire1.png"/>
          <h3>Detroit Fire Engine Company, 1892 vs. now</h3>
        </div>
      </section>
      <section>
         <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/eastown13.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/eastown30.jpg"/>
          <h3>Eastown Theater, 1931 vs. now</h3>
        </div>
      </section>
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/central2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/central1.jpg"/>
          <h3>Michigan Central Station, 1915 vs. now</h3>
        </div>
      </section>
   
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/jefferson.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/jefferson1890s.jpg"/>
          <h3>Jefferson @ Brush Street, 1890s vs. now</h3>
        </div>
      </section>
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/fortgriswold2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/fortgriswold.jpg"/>
          <h3>Fort Street @ Griswold, 1800s vs. now</h3>
        </div>
      </section> 
      <section>   
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/johnr.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/johnr1917.jpg"/>
          <h3>John R @ Woodward, 1917 vs. now</h3>
        </div>
      </section>
      <section>
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/circus.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/circus1940s.jpg"/>
          <h3>Grand Circus Park, 1940s vs. now</h3>
        </div>
      </section>
    </div>
</body>
</html>