<!doctype html>
<html>
<head>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="js/jquery.tiltedpage-scroll.js"></script>
  <link href='css/tiltedpage-scroll.css' rel='stylesheet' type='text/css'>
  
  </head>
  <body>
      <div class="main">
        <section class="page1">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/circus.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/circus1940s.jpg"/>
        </div>
      </section>
      <section class="page2">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/johnr.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/johnr1917.jpg"/>
        </div>
      </section>
      <section class="page3">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/packard2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/packard1.jpg"/>
        </div>
      </section>
      <section class="page4">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/fortgriswold2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/fortgriswold.jpg"/>
        </div>
      </section>
      <section class="page5">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/jefferson.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/jefferson1890s.jpg"/>
        </div>
      </section> 
      <section class="page5">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/neighborhood2.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/neighborhood.jpg"/>
        </div>
      </section>
      <section class="page5">
        <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/fire.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/fire1892.jpg"/>
        </div>
      </section>
      <section class="page8">
         <div class="page_container" id="cf">
          <img class="bottom tps-wrapper" src="img/gallery/livingstone2007.jpg"/>
          <img class="top tps-wrapper" src="img/gallery/livingstone1893.jpg"/>
        </div>
      </section>
    </div>
</body>
</html>