<div class="wrapper">
	<section class="timeline-data">
		<h1>Sample Header</h1>
		<h4>Years 1920-1929</h4>
		<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla elementum ut neque eu porttitor. Morbi vehicula dolor nisi, ac ultrices purus dictum at..</p>
		<ul>
			<li>Will add icons next to these points</li>
			<li>Maybe put information like population etc</li>
			<li>Per capita etc or murder rate</li>
			<li>Will add icons next to these points</li>
			<li>Maybe put information like population etc</li>
			<li>Per capita etc or murder rate</li>
		</ul>
	</section>
	<main>
		<div id="map">MAP HERE</div>
		<article>
			<h3>Articles will be full width</h3>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat. </p>
		</article>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros.</p>
		</aside>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas.</p>
		</aside>
		<aside>
			<h4>TitleHere</h4>
			<p>Smaller info will be placed in aside tags.</p>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros.</p>
		</aside>
		<article>
			<h3>Articles will be full width</h3>
			<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat.</p>
		</article>
	</main>
</div>