<div class="wrapper museum">
	<article>
		<h3 class="deeppink">Want to delve even deeper into Detroit?</h3>
		<p>Visit one of our world-famous museums for another history lesson! </p>
	</article>
	<aside>
		<h3>Detroit Historical Museum</h3>
		<img src="../img/museum/historical.jpg" height="300" width="300">
		<p>Our favorite exhibit: <a href='http://detroithistorical.org/detroit-historical-museum/exhibitions/signature-exhibitions/streets-old-detroit'>“Streets of Old Detroit”</a></p>
	</aside>
	<aside>
		<h3>Detroit Institute of Arts</h3>
		<img src="../img/museum/dia.jpg" height="300" width="300">
		<p>Our favorite collection: <a href="http://www.dia.org/art/rivera-court.aspx">The Detroit Industry Murals</a>, by Diego Rivera</p>
	</aside>
	<aside>
		<h3>Motown Museum</h3>
		<img src="../img/museum/motown.jpg" height="300" width="300">
		<p>Our favorite experience: <a href="https://www.motownmuseum.org/about-the-museum/the-collection/studio-a/">Studio A</a>, where Motown’s biggest hits were recorded.</p>
	</aside>
	<section>
		<h3>We also recommend:</h3>
		
		<p><a href="http://www.thehenryford.org/museum/index.aspx">Henry Ford Museum </a>in  Dearborn, MI</p>

		<p><a href="https://thewright.org/">Charles H. Wright Museum </a> in Detroit, MI</p>
		
		<p><a href="http://detroithistorical.org/dossin-great-lakes-museum/plan-your-visit/general-information">Dossin Great Lakes Museum </a>in Detroit, MI</p>
	</section>

</div>