<div id="museum-wrapper">
		<h2>Want to delve even deeper into Detroit?</h2>
		<p>Visit one of our world-famous museums for another history lesson! </p>
	<div>
		<h3>Detroit Historical Museum</h3>
		<img src="../img/museum/historical.jpg">
		<p>Our favorite exhibit: <a href='http://detroithistorical.org/detroit-historical-museum/exhibitions/signature-exhibitions/streets-old-detroit' target="_blank">“Streets of Old Detroit”</a></p>
	</div>
	<div>
		<h3>Detroit Institute of Arts</h3>
		<img src="../img/museum/dia.jpg">
		<p>Our favorite collection: <a href="http://www.dia.org/art/rivera-court.aspx" target="_blank">The Detroit Industry Murals</a></p>
	</div>
	<div>
		<h3>Motown Museum</h3>
		<img src="../img/museum/motown.jpg">
		<p>Must see: <a href="https://www.motownmuseum.org/about-the-museum/the-collection/studio-a/">Studio A</a></p>
	</div>

	<ul>
		<li>
			<h3>Other museums to check out:</h3>
		</li>
		<li>
			<a href="http://www.thehenryford.org/museum/index.aspx" target="_blank">Henry Ford Museum</a>
		</li>
		<li>
			<a href="https://thewright.org/" target="_blank">Charles H. Wright Museum</a>
		</li>
		<li>
			<a href="http://detroithistorical.org/dossin-great-lakes-museum/plan-your-visit/general-information" target="_blank">Dossin Great Lakes Museum</a>
		</li>
	</ul>
</div>