<div class="wrapper">
	<section class="timeline-data">
		Overview timeline of US News
		<ul>
			<li>1996 - In November, Michigan votes to allow the operation of three casinos in Detroit.</li>
			<li>1997 - In June, the Detroit Red Wings win their first Stanley Cup in 42 years.</li>
			<li>1999 - The Detroit Tigers play their final baseball game in classic Tiger Stadium, which had opened in 1912. The team relocated to the new Comerica Park downtown in 2000.</li>
			<li>2002 - The Detroit Lions football team begin play in the new, state-of-the-art Ford Field, returning to downtown Detroit after 27 years in suburban Pontiac.</li>
			<li>2004 - The "restored" Campus Martius Park opens in downtown Detroit. Featuring an ice-skating rink, it is the focal point of the city's new Winter Blast festival.</li>
			<li>2005 - Comerica Park hosts Major League Baseball's All-Star Game.</li>
			<li>2006 - In February, the city hosts Super Bowl XL, and in October, the Detroit Tigers, only three years after having a 119-loss season, defeat the Oakland A's in the American League Championship Series, winning the Penant. They then play in their first World Series since 1984, losing to their 1968 series rivals, the St. Louis Cardinals, in five games.</li>
			<li>2008 - Kwame Kilpatrick resigned his office as mayor effective September 19, 2008, after pleading guilty to two counts of obstruction of justice and no contest to one count of assaulting and obstructing a police officer. Kilpatrick was succeeded in office on an interim basis by City Council President Kenneth Cockrel, Jr..</li>
			<li>2009 - Following a special election on May, 2009, businessman and former Detroit Pistons star Dave Bing became the Mayor and was subsequently re-elected to a full term of office.</li>
			<li>2013 - The state governor declares a financial emergency and appoints an emergency manager for the city
			Detroit goes bankrupt, the largest ever in American history.</li>
		</ul>
	</section>
	<div id="article-wrapper">
		<article>
			<h3>Detroit is Back Baby</h3>
			<p>
				<p>The New Detroit is marked with increased development and rennovaton of historic buildings to spur increased economic activity in the downtown area. Companies like GM, the Casinos, Compuware, and Quicken Loans have taken to investing in bringing jobs to the downtown area to spur development.</p>
					
					</p>
				</article>
				<aside>
					<h4> The Three Casinos</h4>
					<p><img src="img/siteimg/mgm.jpg" width="300px" height="300px"</p>
					<p>
						<ul><li><p>Casinos started development in the late 90s and sparked redevelopment downtown</p></li>
							<li><p>MGM Grand Casino was the first casino completed</p> </li>
							<li><p>The tax revenue from the casinos brings in $180 million in  tax revenue a year</p></li></ul>
						</p>
					
				</aside>
				<aside>
					<h4>Renaissance Center <CENTER></CENTER></h4>
					<p><img src="img/siteimg/rennesancecenter.jpg" width="300px" height="300px"></p>
					<p> <ul>
						<li><p>The Ren Cen has its own zip code – 48243.</p></li>
						<li><p>The GM Renaissance Center sits on 14 acres.</p></li>
						<li><p>The Marriott at the Renaissance Center is one of the tallest hotels in the world</p></li></ul>
					</p>
				</aside>
				<aside>
					<h4>The Detroit RiverWalk</h4>
					<p><img src="img/siteimg/Detroit_Riverfront4.jpg" width="300px" height="300px"></p>
					<p><ul>
					<li><p>The riverfront has become a local tourist attraction</p></li>
					<li><p>Many festivals and concerts are held on the riverfront</p></li>
					<li><p>The riverfront underwent at 2 year renovation project to make it a world class tourist venue</p></li></ul></p>
				</aside>
				<aside>
					<h4>One Campus Martius Detroit</h4>
					<p><img src="img/siteimg/Detroit_Riverfront4.jpg" width="300px" height="300px"></p>
					<p><ul>
					<li><p>2003-The high-rise was built as an office building for Compuware</p></li>
					<li><p>Many festivals and concerts are held on the riverfront</p></li>
					<li><p>The riverfront underwent at 2 year renovation project to make it a world class tourist venue</p></li></ul></p>
				</aside>
				<article>
					<h3>Articles will be full width</h3>
					<p>Nunc sed augue efficitur, condimentum lorem bibendum, vehicula purus. Aliquam sit amet augue rutrum, ornare quam id, pharetra eros. Curabitur viverra ex ultrices lobortis efficitur. Nullam finibus pellentesque orci quis egestas. Quisque in euismod turpis, quis vulputate dolor. Suspendisse in imperdiet neque, ac tristique tellus. Duis porta ligula eget nisi auctor rutrum. Integer porttitor, quam eget tristique egestas, sem lorem ornare nulla, eget interdum leo libero vel erat.</p>
				</article>
			</div>
		</div>