<div class="wrapper">
	<section class="timeline-data">
		<h3 class="title chartreuse">Timeline Overview</h3>
		<ul class="overview">
			<li>
				<div class="bold-year">1996</div>
				<div class="right">Michigan votes to allow the operation of three casinos in Detroit</div>
			</li>
			<li>
				<div class="bold-year">1997</div>
				<div class="right">Detroit Red Wings win their first Stanley Cup in 42 years</div>
			</li>
			<li>
				<div class="bold-year">1999</div>
				<div class="right">The Detroit Tigers play their final baseball game in classic Tiger Stadium</div>
			</li>
			<li>
				<div class="bold-year">2002</div>
				<div class="right">The Detroit Lions football team begin play in the new Ford Field, returning to downtown Detroit</div>
			</li>
			<li>
				<div class="bold-year">2004</div>
				<div class="right">The "restored" Campus Martius Park opens in downtown Detroit</div>
			</li>
			<li>
				<div class="bold-year">2005</div>
				<div class="right">Comerica Park hosts Major League Baseball's All-Star Game</div>
			</li>
			<li>
				<div class="bold-year">2008</div>
				<div class="right">Kwame Kilpatrick resigned his office as mayor effective September 19, 2008, after pleading guilty to two counts of obstruction of justice and no contest to one count of assaulting and obstructing a police officer</div>
			</li>
			<li>
				<div class="bold-year">2009</div>
				<div class="right">Businessman and former Detroit Pistons star Dave Bing becomes the Mayor</div>
			</li>
			<li>
				<div class="bold-year">2013</div>
				<div class="right"> On July 19th, the state governor declares a financial emergency and Detroit goes bankrupt. It is the largest municipal bankruptcy filing in U.S. history, at an estimated 18–20 billion dollars</div>
			</li>
		</ul>
	</section>
	<div id="article-wrapper">
		<article>
			<h3 class="chartreuse">Detroit is Back, Baby!</h3>
			<p>
				<p>The New Detroit is marked with increased development and renovation of historic buildings to spur increased economic activity in the downtown area. Companies like GM, the Casinos, Compuware, and Quicken Loans have taken to investing in bringing jobs to the downtown area to spur development.</p>
					
					</p>
				</article>
				<aside>
					<h4 class="bg-chartreuse">The Three Casinos</h4>
					<img src="img/2015/mgm.jpg">
<!-- 					<figcaption>
						<ul>
							<li>Casinos started development in the late 90s and sparked redevelopment downtown</li>
							<li>MGM Grand Casino was the first casino completed</li>
							<li>The tax revenue from the casinos brings $180 million a year</li>
						</ul>
					</figcaption> -->
				</aside>
				<aside>
					<h4 class="bg-chartreuse">Renaissance Center</h4>
					<img src="img/2015/renaissancecenter.jpg">
					<!-- <figcaption> Random fact: the Ren Cen has its own zip code – 48243! The GM Renaissance Center sits on 14 acres. The Marriott at the Renaissance Center is one of the tallest hotels in the world</figcaption> -->

				</aside>
				<aside>
					<h4 class="bg-chartreuse">The Detroit RiverWalk</h4>
					<img src="img/2015/Detroit_Riverfront4.jpg">
<!-- 					<figcaption>
						<ul>
							<li>The riverfront has become a local tourist attraction</li>
							<li>Many festivals and concerts are held on the riverfront</li>
							<li>The riverfront underwent at 2 year renovation project to make it a world class tourist venue</li>
						</ul>
					</figcaption> -->
				</aside>
<!-- 				<article>
					<h3>Overview of American History 1990-2015</h3>
                    <p><span class="bold">War in Afghanistan and Iraq</span> (2001 – present) was started when America was attacked by the Islamic terrorist group al-Qaeda on the United States on the morning of Tuesday, September 11, 2001. The attacks consisted of suicide attacks used to target symbolic U.S. landmarks including the World Trade Center, the Pentagon, and a thwarted attack against the White House. Soon after America invaded Afghanistan and Iraq shortly after.

                    <p><span class="bold">Barack Obama Becomes US President</span> (2008-2016) In Novemeber of 2008 the United States elected Barack Obama as the 44th President of the United States. He was the first African American to hold this office. As America was in the midst of the largest recession it has seen since the Great Depression, he was focused on injecting life into the economy. Some of his legislature focused on stabilizing the Big 3 Detroit Automakers and bringing them out of bankrupcy. This was critical to Detroit's turnaround. 
                    </p>
				</article> -->
			</div>
		</div>