<div class="wrapper">
	<section class="timeline-data">
		<h3 class="title chartreuse">Random Fact: </h3>
		<button ng-click="getFact()">New Fact</button>
		<p>{{fact}}</p>
		<h3 class="title chartreuse">Timeline Overview</h3>
		<ul class="overview">
			<li>
				<div class="bold-year">1996</div>
				<div class="right">Michigan votes to allow the operation of three casinos in Detroit</div>
			</li>
			<li>
				<div class="bold-year">1997</div>
				<div class="right">Detroit Red Wings win their first Stanley Cup in 42 years</div>
			</li>
			<li>
				<div class="bold-year">1999</div>
				<div class="right">The Detroit Tigers play their final baseball game in classic Tiger Stadium</div>
			</li>
			<li>
				<div class="bold-year">2002</div>
				<div class="right">The Detroit Lions football team begin play in the new Ford Field, returning to downtown Detroit</div>
			</li>
			<li>
				<div class="bold-year">2008</div>
				<div class="right">Kwame Kilpatrick resigned his office as mayor effective September 19, 2008, after pleading guilty to two counts of obstruction of justice and no contest to one count of assaulting and obstructing a police officer</div>
			</li>
			<li>
				<div class="bold-year">2009</div>
				<div class="right">Businessman and former Detroit Pistons star Dave Bing becomes the Mayor</div>
			</li>
			<li>
				<div class="bold-year">2013</div>
				<div class="right"> On July 19th, the state governor declares a financial emergency and Detroit goes bankrupt. It is the largest municipal bankruptcy filing in U.S. history, at an estimated 18–20 billion dollars.</div>
			</li>
		</ul>
	</section>
	<div id="article-wrapper">
		<article>
			<h3 class="chartreuse">Detroit is Back, Baby!</h3>
			<p>The New Detroit is marked with increased development and renovation of historic buildings to spur increased economic activity in the downtown area. Companies like GM, the Casinos, Compuware, and Quicken Loans have taken to investing in bringing jobs to the downtown area to spur development.</p>
		</article>
		<div class="column-sm">
			<h4 class="bg-chartreuse">Campus Martius</h4>
			<aside>
				<img src="img/2015/campus.jpg">
				<p class="caption fade-caption">The new Campus Martius Park was dedicated November 19, 2004 and includes two performance stages, sculptures, public spaces and a seasonal ice skating rink.</p>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-chartreuse">Streets of Detroit</h4>
			<aside>
				<img src="img/2015/streets.jpg">
				<p class="caption fade-caption">Woodward Avenue</p>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-chartreuse">Compuware</h4>
			<aside>
				<img src="img/2015/CompuwareHQ.jpg">
				<p class="caption fade-caption">The Compuware Headquarters</p>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-chartreuse">Renaissance Center</h4>
			<aside>
				<img src="img/2015/renaissancecenter.jpg">
				<p class="caption fade-caption">
					The Marriott at the Renaissance Center is one of the tallest hotels in the world.
				</p>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-chartreuse">The Three Casinos</h4>
			<aside>
				<img src="img/2015/mgm.jpg">
				<p class="caption fade-caption">
					Casinos started developing in Detroit in 1999. The tax revenue from the three casinos brings in $180 million a year. 
				</p>
			</aside>
		</div>
		<div class="column-sm">
			<h4 class="bg-chartreuse">The Detroit RiverWalk</h4>
			<aside>
				<img src="img/2015/riverwalk.jpg">
					<p class="caption fade-caption">The riverfront underwent a 2 year renovation project to make it a world class tourist venue.</p>
			</aside>
		</div>
	</div>
</div>
