<!DOCTYPE html>
<html ng-app='delveApp'>
<head>
	<title>Delve Detroit</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.7/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-animate.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-mU4wjJAGmgLzSu-mn2IweeC-ediFn9E&signed_in=true"></script>
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="js/timeline.js"></script>
	<script src="js/app.js"></script>
	<script src="js/map.js"></script>
	<script src="js/mainCtrl.js"></script>
	<script src="js/museumCtrl.js"></script>
</head>
<body ng-controller="mapCtrl">
	<nav>
		<div class="wrapper">
			<header>
				<h1>DELVE DETROIT</h1>
			</header>
			<ul>
				<a href="#/"><li id="home">Home</li></a>
				<a href="#/museum"><li>Delve Deeper</li></a>
				<a href="#/about"><li>About</li></a>
			</ul>
		</div>
	</nav>
	<div id="timeline">
		<a href="#/1890" ng-click="oldMap()"><div class="date year1890">1890</div></a>
		<a href="#/1920"><div class="date year1920">1920</div></a>
		<a href="#/1960"><div class="date year1960">1960</div></a>
		<a href="#/" ng-click="newMap()"><div class="date year2015">2015</div></a>
	</div>
	<main>
		<section id="summary-2015" class="timeline-data">
			<h1>The New Detroit</h1>
			<h4>1990-Present</h4>
			<p>After years of decay, increasing crime, white flight, bankruptcy, and crooked politics, Detroit is increasingly becoming a city that is prime for a huge turnaround. Tech companies and real estate investors are attracted to the city for its low priced downtown real estate and educated regional workforce.</p>
			<ul>
				<li>2014 population 680,250</li>
				<li>$26,325 median income</li>
				<li>39% Below Poverty</li>
				<li>10.6% White, 82.7% Black, 6.8% Hispanic</li>
			</ul>
		</section>
		<section id="summary-1960" class="timeline-data">
			<h1>Motown stuff</h1>
			<h4>1960s</h4>
			<p>After years of decay, increasing crime, "white flight", bankruptcy, and crooked politics, Detroit is increasingly becoming a city that is prime for a huge turnaround. Tech companies and real estate investors are attracted to the city for low priced downtown real estate and educated regional workforce.</p>
			<ul>
				<li>1960 population 1,670,144</li>
				<!-- li>$26,325 median income</li>
				<li>39% Below Poverty</li> -->
				<li>70.8% White, 28.9% Black</li>
			</ul>
		</section>
		<section id="summary-1920" class="timeline-data">
			<h1>The twenties</h1>
			<h4>1920's</h4>
			<p>After years of decay, increasing crime, white flight, bankruptcy, and crooked politics, Detroit is increasingly becoming a city that is prime for a huge turnaround. Tech companies and real estate investors are attracted to the city for it’s low priced downtown real estate and educated regional workforce.</p>
			<ul>
				<li>1920 population 993,678</li>
				<!-- <li>$26,325 median income</li>
				<li>39% Below Poverty</li> -->
				<li>95.8% White, 4.1% Black</li>
			</ul>
		</section>
		<section id="summary-1890" class="timeline-data">

			<h1>Industrial Detroit</h1>
			<h4>1890-1900</h4>
			<p>Detroit was earning a reputation as an important and diverse industrial and manufacturing center long before the arrival of the automobile industry. Advantages of streetcars propelled by electric power were beginning to be recognized over horse power. This time period is known for street car companies and Hazen S. Pingree who served as mayor from 1890-1897.</p>
			<ul>
				<li>1890 population 205,876</li>
				<li>15th largest city in United States(1890).</li>
				<li>Annexation increased Detroit's land size to 28.35 sq. miles</li>
				<li>98.3% White, 1.7% Black</li>
			</ul>
		</section>
		<div id="map"></div>
	</main>
	<ng-view autoscroll="true"></ng-view>
	<footer>
		&copy; Delve Detroit 2015
	</footer>
</body>
</html>